body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
 margin: 0;
 padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/* header styles */
.header {
border-bottom: 1px solid #E7E9FC;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .header-logo-part {
  color: #2e2f42;
}

.footer-logo .footer-logo-part {
  color: #f4f4fd;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  align-items: center;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ORDER SECTION STYLES*/
.order-section {
  display: block;
  padding: 188px 0; 
  justify-content: center;
  background-color: #2e2f42;
}

.order-header {
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.order-button {
  display: block;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

/* LIST COMMON STYLES*/
.list-item .item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item .item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-list, .team-list {
  display: flex;
  gap: 24px; 
} 

/* BENEFITS ITEM STYLE */
.benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}

/* TEAM SECTION STYLES */
.team {
  text-align: center;
  background-color: #f4f4fd;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-item {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-card {
  padding: 32px 0;
 }

/* PORTFOLIO SECTION STYLES*/
.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px; 
}

.portfolio-card {
  display: block;
  width: 360px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-item {
  background-color: #fff;
  width: calc((100% - 48px) / 3);
}


/* FOOTER STYLES */
.footer {
  background: #2e2f42;
}

.footer-container {
  display: block;
  padding: 100px 0;
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/* benefits header hide */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}